*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("/styling/images/leaf-background.webp");
  /* overflow: hidden; */
  background-color: var(--BACKDROP-COLOUR);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

img {
  display: block;
}

img:not([alt]) {
  border: 10px solid red;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

/* UTILITY */

.d-none {
  display: none;
}

.nowrap {
  white-space: nowrap;
}

.offscreen {
  position: absolute;
  left: -10000px;
}
