main {
    margin: 1rem;
}

.find-us-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #206B52;
    border-radius: 10px;
}

.map-place-holder {
    flex-wrap: nowrap;
    overflow: hidden;
    width: 100%;
    margin-top: 10%;
    border-radius: 10px;
    border: black;
}

.h1-white {
    color: #F4F3F1;
    font-family: "Fira Sans", sans-serif;
    color: var(--TEXT-LIGHT);
    font-weight: solid 500;
    padding: 2rem;
    font-size: 1.2rem;
    text-transform: uppercase;
    text-shadow: 1px 3px 0px rgba(0, 0, 0, 0.30);  
}

.schedule {
    width: 90%;
    height: auto;
    margin: 1rem;
    padding: 0;
    list-style-type: none;
    font-family: "Fira Sans", sans-serif;
}

.current-location-item {
    padding: 5%;    
}

.schedule :nth-child(even) {
    background-color: rgba(241, 240, 236, 0.17);
    color: #F4F3F1;
}

.schedule :nth-child(odd) {
    background-color: #F4F3F1;
}

.current__location-item, .upcoming__location-item {
    margin: 2%;
    padding: 1%;
    border-radius: 4px;
    font-size: large;
    font-family: "Fira Sans", sans-serif;
    font-weight: 900;
    text-align: center;
}